<div style="text-align:center">
    <h1>
        Feedback Form
        </h1>
<div class="container">
    <div class="row">
        <form [formGroup]="myform" (ngSubmit)="onsubmit()">
            <div class="container">
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            <p><input formControlName="name" id=”name” placeholder="Your name"></p>
            </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <select formControlName="game" id=”game” name="game" placeholder="Game">
                    <option value="Valorant">Valorant</option>
                    <option value="Apex Legends">Apex Legends</option>
                    <option value="Minecraft">Minecraft</option>
                </select>
            </div>

            <div>
            <p><input formControlName="feedback" id=”feedback” placeholder="Your feedback"></p>
            </div>

            <div class="row"> 
            <div class="col-sm-6 col-sm-offset-3">
            <p><button class="btn btn-primary" type="submit">Submit</button> </p>
            </div>
            </div>
            </div>
            </form>
    </div>
</div>
