.games {
    background-color: lightblue;
    content: "";
    width: 100%;
    margin: 0 auto;
    outline: 1px solid red;
    text-align: justify;
    list-style-type: none;
    display: inline-block;
    }
.About {
    background-color: lightblue;
}