<div style="text-align:center">
    <h1>
        Feedback Form
        </h1>
<div class="container">
    <div class="row">
        <form [formGroup]="myform" (ngSubmit)="onsubmit()">
            <div class="container">
            <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            <p><input formControlName="name" id=”name” placeholder="Your name"></p>
            </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <select formControlName="game" id=”game” name="game" placeholder="Game">
                    <option value="Valorant">Valorant</option>
                    <option value="Apex Legends">Apex Legends</option>
                    <option value="Minecraft">Minecraft</option>
                    <option value="Genshin Impact">Genshin Impact</option>
                    <option value="Mortal Kombat 11">Mortal Kombat 111</option>
                </select>
            </div>

            <div>
            <p><input formControlName="post" id=”post” placeholder="feedback"></p>
            </div>

            <div class="row"> 
            <div class="col-sm-6 col-sm-offset-3">
            <p><button class="btn btn-primary" type="submit">Submit</button> </p>
            </div>
            </div>
            </div>
            </form>
    </div>

    <div class="row" *ngFor="let post of posts">
        <div class="card card-block">
            <h4>{{post.game}}</h4>
            <p>{{post.post}}</p>
            <input type="text" class="card-title" value={{post.name}}
            id={{post._id}}_name>
            <a href="javascript:void(0)" (click)="deletePost(post._id)" class="card-
            link">Delete</a>
            <a href="javascript:void(0)" (click)="updatePost(post._id)" class="card-
            link">Update</a>
        </div>
        </div>
</div>
